<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tech blog</title>

    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300&family=Inspiration&family=Play&family=Source+Code+Pro:wght@200;300;400&family=Trispace:wght@100&family=VT323&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
        {{#if user}}
            <h4 class="username_display">logged in as @{{user.dataValues.username}}</h4>

        {{else}}
            <h2 class="username_display">>>>a_tech_blog</h2>
        {{/if}}
            <a href="/dashboard"><h2>Dashboard</h2></a>
            
            <div class="link-container">
            {{#if user}}
            <a href="/new_post"></a>
            <a href="/auth/logout">Logout</a>
            {{else}}
            <a href="/login"><h2>Login</h2></a>
            <a href="/register"><h2>Register</h2></nav></a>
            {{/if}}
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    <script src="/front/js/front.js"
</body>
</html>