<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tech blog</title>

  <script src="https://kit.fontawesome.com/44c011479b.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300&family=Inspiration&family=Play&family=Source+Code+Pro:wght@200;300;400&family=Trispace:wght@100&family=VT323&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
        {{#if user}}
            <h4 class="username_display">logged in as @{{user.dataValues.username}}</h4>

            <a href="/dashboard"><h2>{{user.dataValues.username}}'s dashboard</h2></a>
        {{else}}
            <h2 class="username_display">>>>a_tech_blog</h2>
        {{/if}}
            
            <div class="link-container">
                    <a href="/login"><h2>Login</h2></a>
                    <a href="/register"><h2>Register</h2></a>
                    <a href="/auth/logout"><h2>Logout</h2></a>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    <script src="js/front.js"></script>
</body>
</html>