<div class="form-container">
    <form action="/auth/login" method="post">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <button class="loginBtn">Login</button>
    </form>
</div>