<div class="form-container">
    <form>
        <input type="text" placeholder="username">
        <input type="text" placeholder="password">
        <button class="loginBtn">Login</button>
    </form>
</div>