<div class="write-post-container">
    <form action="/blog" method="post">
        <input name="post_title" type="text" placeholder="post title">
        <textarea name="content" id="new-blog-text" type="text" placeholder="blog post"></textarea>
        <button class="submitBtn">post this blog</button>
    </form>
</div>