<div class="post-container">
    <div class="post">
        <h3 class="post-title">TEST TITLE</h3>
        <p class="post-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus incidunt aut voluptatibus neque doloremque quam hic sequi vero ipsa nobis vel quod, repudiandae libero dolore officia veritatis rerum odit corporis.</p>
    </div>
</div>