<div class="form-container">
    <form>
        <input type="text" placeholder="chooses username">
        <input type="text" placeholder="type password">
        <button class="registerBtn">Register</button>
    </form>
</div>