<div class="form-container">
    <form action="/auth/register" method="post">
        <input type="text" placeholder="choose a username" name="username">
        <input type="password" placeholder="type password" name="password">
        <button class="registerBtn">Register</button>
    </form>
</div>