<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tech blog</title>
</head>
<body>
    <header>
        <nav class="navbar">
        {{#if user}}
            <h1 class="username_display">{{user.username}}</h1>

        {{else}}
            <h1 class="username_display">techblogtitles</h1>
        {{/if}}
            <a href="/login"><h2>Login</h2></a>
            <a href="/register"><h2>Register</h2></nav></a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
</body>
</html>